# ── SO ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── IDEs ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.user
*.userprefs
.vs/
